{{ partial "header.html" . }}

<section id="main">
  <div id="container">
   <div class="container">
    <header class="post-header">
     <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
    </header>
    <div class="post-content clearfix" itemprop="articleBody">
     <ul>
     {{ $data := .Data }}
     {{ range $key, $value := .Data.Terms }}
       <li><a href="{{ $key | urlize }}">{{ $key }}</a> {{ len $value }}</li>
     {{ end }}
    </ul>
   </div>
  </div>
</section>

{{ partial "footer.html" . }}
