{{ partial "header.html" . }}

<section id="main">
  <div id="container">
   <div class="container">
    <header class="post-header">
     <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
      <p class="post-date">
       <span><a href="javascript:history.back()">Go back</a></span>
      </p>
    </header>
   </div>
  </div>
</section>

{{ partial "footer.html" . }}
